.main {
    height: 100vh;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    background-color: #fffffe;
}

.control {
    display: flex;
    justify-content: center;
}